body {
	font-family: 'PT Sans', sans-serif;
	color:#666666;
	background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
	color: #333333;
	line-height: 1.5;
}

p {
	margin-bottom: 1.5rem
}

hr {
	margin: 0;
}

.section-bg {
	background-color: #f9f9f9;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
  }

.cs-headline-0 {
	font-size: 1.1rem;
	font-weight: bold;
	letter-spacing: 24px;
	text-transform: uppercase;
	margin-bottom: 40px;
}

.cs-headline-1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 6rem;
	font-weight: bold;
	margin: 0;
}

.cs-headline-3 {
	font-family: 'Noto Serif', sans-serif;
	font-size: 1.5rem;
	margin-bottom: 1.5rem;
}

.cs-headline-5 {
	font-weight: bold;
}

.cs-about li {
	align-items: center;
}

#header {
	background-color: #ffffff;
	background-image: url(../images/header.jpg);
	background-repeat: no-repeat;
	background-position: right;
	background-size: cover;
}

.tm-header {
	padding: 96px 0;
	color: #333333;
}

#section-navigation {
	height: 88px;
}

#about {
	padding-top: 96px;
	padding-bottom: 96px;
	margin-top: -16px
}

#education, #work, #activity, #skills {
	padding-top: 96px;
	padding-bottom: 96px;
}

#navigation .lines:before, #navigation .lines:after {
	position: absolute;
	content: "";
	top: 0;
	height: 72px;
	z-index: -1;
}

#projects {
	padding-top: 96px;
	padding-bottom: 96px;
}

#navigation .lines:before {
	left: 0;
	width: 50%;
	background-color: #a3bb5d;
}

#navigation .lines:after {
	right: 0;
	width: 50%;
	background-color: #4178bf;
}

.lines {
	position: relative;
}

.nav li a {
	font-family: 'Montserrat', sans-serif;
	display: block;
	padding: 24px 40px;
	color: #ffffff;
	transition: padding-bottom 0.32s;
	text-transform: uppercase;
}

.nav li a:hover {
	text-decoration: none;
	padding-bottom: 40px;
}

.nav li:nth-child(1) {
	background-color: #f4bf00;
}

.nav li:nth-child(2) {
	background-color: #f7941d;
}

.nav li:nth-child(3) {
	background-color: #f8621a;
}

.nav li:nth-child(4) {
	background-color: #ed1c24;
}

.nav li:nth-child(5) {
	background-color: #e10337;
}

.nav li:nth-child(6) {
	background-color: #b90162;
}

.nav li:nth-child(7) {
	background-color: #873e95;
}

.skills-icons {
	color: #333333;
	font-size: 3rem;
}